#div1{
    text-align: center;
  
}


#div2{
    text-align: center;
    font-size: large;
  
}

#div3{
    text-align: center;
    font-size: large;
  
}

#div4{
    text-align: center;
    font-size: large;
  
}

#div5{
    text-align: center;
    font-size: large;
  
}

#div6{
    text-align: center;
    font-size: large;
  
}

#divAll{
   
   text-align: center;
   width: 100%;
}




